@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family:'roboto' ,sans-serif;
  background-color:#f1f3f6;
}
.container{
  padding: 0 8px;
}
:root{
  --primary-color:#2874f0;
}
header{
  background-color: var(--primary-color);
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1248px;
}

header .nav-container{
  
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100%;
  max-width: 1248px;
  margin: 0 auto;
  
}

header .nav-container .logo{
  display: flex;
  align-items: center;
  min-width: 137px;
  justify-content: flex-end;
}
header .nav-container .logo img{
  width:75px;
  margin-right: 20px;
}
header .search{
  height: 50%;
  width:540px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0/ 23%);
}
header .nav-container .search input{
  height: 50px;
  width:540px;
  border: none;
  padding: 0 8px;
  width:calc(100% - 32px);
  
}
header .search button{
  height: 100%;
  width:10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:0;
  border:none;
  background-color: white;
  border-radius: 0 2px 2px 0;
}

header .Login{
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .Login button{
  height: 50%;
  margin-left: 10px;
  width:100px;
  font-size:20px;
  border:none;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0/ 23%);
  color:var(--primary-color);
  font-weight: 600;
}
header .becomeseller{
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 600;
  color:white;
  margin-left:15px;
}

header .more{
    display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 600;
  color:white;
  margin-left:15px;
}

header .cart{
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 600;
  color:white;
  margin-left:15px;
}